body{
    background-color: black;
}
.jay{
    font-family: "Outfit", sans-serif;
}
*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    margin: auto;
    max-width: 1320px;
}
.box{
    /* border: 1px solid black; */
    /* display: flex; */
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.mt-40{
    margin-top: 40px;
}
.border{
    border: 1px solid red;
}
.container-blue{
    width: 100%;
    background-color: #1144e4;
}
.text{
    padding: 10px;
    font-weight: 700;
    color: white;
    border-radius: 50px;
    font-family: "Outfit", sans-serif;
    background-color: rgba(15, 23, 138, 0.795);
}
.text a{
    font-size: 30px;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.text1 a:hover{
    text-decoration: underline;
    opacity: 0.6;
}
.text1 a{
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    color: white;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
}
.fa-magnifying-glass{
    font-size: 15px;
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
}
.fa-user{
    font-size: 15px;
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
}
.box img{
    width: 100%;
}
.container1{
    width: 100%;
}
.pad{
    padding: 10px;
    border-radius: 50px;
}
.text2 h2{
    font-size: 40px;
    font-family: "Outfit", sans-serif;
   text-align: center;
   padding-top: 50px;
   font-weight: 900;
}
.text3{
    text-align: center;
    padding-top: 30px;
}
.text3 a{
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    align-items: center;
    color: white;
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 10px;
}
.blue{
    border-bottom: 4px solid #1144e4;
    padding: 4px;
}
.text4{
    height: 200px;
    background-color:#1144e4;
    border-radius: 20px;
    padding-left: 50px;
    padding-top: 20px;
}
.prepaid a{
    display: inline-block;
    text-decoration: none;
    color: white;
    /* border: 1px solid red; */
    background-color: #0a2885;
    border-radius: 50px;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    padding: 10px 150px 10px 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.prepaid{
    position: relative;   
}
.postpaid{
    position: absolute;
    top: 5px;
    left: 135px;
    color: #b5b5b5;
    /* border: 1px solid red; */
    background-color:#1144e4;
    border-radius: 50px;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    padding: 5px 5px;
}