body{
    /* background-color: black; */
}
.jay{
    font-family: "Outfit", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.margin{
    margin: auto;

}
.container{
    margin: auto;
    max-width: 1320px;
}
.box{
    /* border: 1px solid black; */
    /* display: flex; */
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.border{
    border: 1px solid red;
}
.container-blue{
    width: 100%;
    background-color: #1144e4;
}
.text{
    padding: 10px;
    font-weight: 700;
    color: white;
    border-radius: 50px;
    font-family: "Outfit", sans-serif;
    background-color: rgba(15, 23, 138, 0.795);
}
.text a{
    font-size: 30px;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration: underline;
    opacity: 0.6;
}

.text1:hover{
    background-color: gainsboro;
}
.navbar a{
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    color: white;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.fa-magnifying-glass{
    font-size: 15px;
    color:black;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    
}
.fa-user{
    font-size: 15px;
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
}
.box a{
    text-decoration: none;
}
.box img{
    width: 100%;
}
.container1{
    width: 100%;
}
.pad{
    padding: 10px;
    border-radius: 50px;
}
.text2 h2{
    font-size: 40px;
    font-family: "Outfit", sans-serif;
   text-align: center;
   padding-top: 50px;
   font-weight: 900;
}
.text3{
    text-align: center;
    padding-top: 30px;
}
.text3 a{
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    align-items: center;
    color: black;
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 10px;
}
.blue{
    border-bottom: 4px solid #1144e4;
    padding: 4px;
}
.text4{
    background-color:#1144e4;
    border-radius: 20px;
    padding: 10px 20px;
}
.prepaid a{
    display: inline-block;
    text-decoration: none;
    color: white;
    /* border: 1px solid red; */
    background-color: #0a2885;
    border-radius: 50px;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    padding: 10px 120px 10px 10px;
    margin-top: 20px;
}
.prepaid{
    position: relative;
    padding-bottom: 20px; 
    text-align: center;
}
.postpaid{
    position: absolute;
    top: 25px;
    left: 52%;
    color: #b5b5b5;
    /* border: 1px solid red; */
    background-color:#1144e4;
    border-radius: 50px;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    padding: 5px 5px;
}
.jionumber{
    border-radius: 10px;
    outline: none;
    border: none;
}
.text5{
    padding: 10px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: white;
    
}
.justify{
    justify-content: start;
    align-content: start;
    padding: 10px;
}
/* .d-flex1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */
.middle{
    justify-content: center;
    align-items: center;
}
.border-none{
    border: none;
}
.display{
    display: inline-block;
}
.text6 a{
    /* border: 1px solid red; */
    padding: 10px;
    border-radius: 20px;
   background-color: white;
   color: black;
   text-decoration: none;
   font-family: "Outfit", sans-serif;
   
}
.text-align{
    text-align: center;
}
.text7{
    opacity: 0.5s;
}
.text7>a>img:hover{
    background-color:rgba(213, 213, 238, 0.938);
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition-duration: 1s;
    
}
.line1{
    font-size: 20px;
    color: black;
    font-family: "Outfit", sans-serif;
}
.text8{
    /* border: 1px solid red; */
    border-radius: 20px;
    position: relative;
}
.text8>a>img{
    background-size: cover;
    border-radius: 20px;
}
.airfiber{
    width: 18%;
    padding: 10px;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    /*border: 1px solid red;
    */background-color: #00638f;
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 40px;
}
.airfiber1{
    width: 17%;
    padding: 10px;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    /*border: 1px solid red;
    */background-color:  #1144e4;
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 40px;
}
.text8 a{
    text-decoration: none;
}
.beyond{
    padding-top: 20px;
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 60px;
    left: 40px;
}
.beyond1{
    padding-top: 20px;
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 50px;
    left: 40px;
}
.stay{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: rgba(66, 43, 43, 0.822);
    position: absolute;
    top: 170px;
    left: 40px;
}
.now{
    padding: 10px;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    /*border: 1px solid red;
    */background-color:  #1144e4;
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 240px;
    left: 40px;
}
.now:hover{
    color: rgba(255, 255, 255, 0.541);
    background-color:#1146e4cc;
}
.text9{
    font-size: 40px;
    font-weight: 800;
    color: black;
    font-family: "Outfit", sans-serif;
    text-align: center; 
}
.text10 img{
    border-radius: 20px;
}
.center{
    align-items: center;
    justify-content: center;
}
.fa-bars{
    color: black;
    background-color:rgb(231, 227, 227);
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
}
.menu{
    padding: 10px;
}
.navbar{
    display: flex;
}

.navbar a{
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    color: white;
    font-weight: 600;
    padding:15px 10px;
    text-decoration: none;
}
.justify3{
    justify-content: center;
    align-items: center;
}
.text10{
    position: relative;
}
.myjio{
    color: white;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 170px;
    left: 40px;
}
.getready{
    font-size: 40px;
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    position: absolute;
    top: 210px;
    left: 40px;
}
.just{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.603);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 320px;
    left: 40px;
}
.down{
    font-size: 20px;
    color:white;
    background-color: #1144e4;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    position: absolute;
    top: 400px;
    left: 40px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}
.down:hover{
    background-color: #4f76ebcc;
}
.down1{
    font-size: 20px;
    color:white;
    border: 1px solid rgba(255, 255, 255, 0.308);
    font-family: "Outfit", sans-serif;
    position: absolute;
    top: 400px;
    left: 180px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}
.down1:hover{
   border: 1px solid rgba(255, 255, 255, 0.945);
}
.text11{
    font-size: 18px;
    text-align: center; 
    padding-top: 10px;
    color: rgba(19, 16, 16, 0.623);
    font-weight: 600;
    font-family: "Outfit", sans-serif;
}

.video{
  padding-top: 40px;
}
.video1{
    border-radius: 20px;
}
.text12{
    /* border: 1px solid red; */
   text-align: center;
   padding: 20px;
}
.text12 a{
    text-decoration: none;
    /* border: 1px solid red; */
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
   background-color: #1144e4;
   color: white;
   font-weight: 700;
   font-family: "Outfit", sans-serif;
}
.text12 a:hover{
    background-color:  #082781e7;
}
.goto{
    width: 25%;
    padding: 6px;
    font-size: 23px;
    font-family: "Outfit", sans-serif;
    /*border: 1px solid red;
    */background-color: #00638f;
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 40px;
}
.goto1{
    width: 25%;
    padding: 10px;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    /*border: 1px solid red;
    */background-color: #00638f;
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: 40px;
}
.goto:hover{
    background-color: #1489bbea;
}
.goto1:hover{
    background-color: #1489bbea;
}
.jioclud{
    width: 35%;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 30px;
}
.fa-cloud{
    /* border: 1px solid red; */
    padding: 10px;
    border-radius: 50%;
   background-color:  #0879aa;
}
.enter{
    padding-top: 20px;
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    color: white;
    font-weight: 900;
    position: absolute;
    top: 50px;
    left: 40px;
}
.story{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.705);
    font-family: "Outfit", sans-serif;
    position: absolute;
    top: 170px;
    left: 40px;
}
